@import url('http://fonts.cdnfonts.com/css/euclid-circular-a');

body {
  margin: 0;
}

.ant-tag {
  margin: 0px;
}

.ant-picker-ranges .ant-picker-ok button {
  color: black;
}

.ant-picker-ranges .ant-picker-ok button:hover {
  color: white;
}